{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card col-xl-4 offset-4 mt-5">
                <img src="{{ object.image.url }}" class="card-img-top" alt="...">
                <div class="card-body" style="padding-bottom: 0px">
                    <p class="card-text"><small class="text-muted"><i class="bi bi-calendar4-event"
                                                                      style="position: relative; bottom: 3px;"> </i>
                        {{ object.created|date:'H:i / d.m.Y' }}</small></p>
                    <h5> {{ object.title }}</h5>
                    <p>{{ object.content }}</p>
                    <p>{{ object.long_description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
